/* entire page */

body {
  background-color: antiquewhite;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 51, 31);
}

/* Header area */

header {
  margin: 50px auto;
  height: 375px;
  width: 960px;
  background-color: rgb(163, 132, 110);
} 

h1 {
  text-align: center;
}

header img {
  width: 300px ;
  margin-top: 30px auto;

  
}


header>nav>ul>li {
  display: inline-block;
  width: 175px;
  border: 3px rgb(173, 104, 14);
  box-sizing: border-box;
  background-color: rgb(99, 113, 236);
  text-align: center;
  font-weight: 400;
  border-radius: 15px;
}

header > nav {
  float: center
}

/* Main Body */

article>figure>figcaption>img>p . center {
  text-align: center;
  border: thick;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

article {
  width: 250px;
  display: inline-block;
}

/* Footer */