/* entire page */
body {
    background-color: antiquewhite;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 51, 31);
}

/* Header area */
header {
  margin: 0px auto;
  width: 960px;
  background-color: rgb(163, 132, 110);
  

}
h1 {

}

header > nav > ul > li {
    display: inline-block;
    width: auto;

    background-color: rgb(14, 13, 13);
}


/* Main Body */


/* Footer */